
// ------------------------ Footer General ------------------------

footer(class="footer" role="contentinfo")
	div(class="container")
		
		p 2016 ©USMP - Todos los derechos reservados

a(class="btn-arriba" data-scroll href="#header-cliente")
	i(class="fa fa-arrow-circle-up")