
// ------------------------ Footer General ------------------------

footer(class="footer" role="contentinfo")
	div(class="container")
		
		ul(class="redes-sociales")
			li: a(href="")
					i(class="fa fa-facebook")
			li: a(href="")
					i(class="fa fa-twitter")
			li: a(href="")
					i(class="fa fa-youtube")

		p 2016 ©USMP - Todos los derechos reservados

a(class="btn-arriba" data-scroll href="#header")
	i(class="fa fa-arrow-circle-up")