
// ------------------------ Header Cliente ------------------------

header(id="header-cliente" class="header navbar-fixed-top" role="banner")
    div(class="container")
        a(href="index.html" class="logo")
            img(src="../images/logo.png" alt="Logo del sitio" class="img-fluid")

        button(type="button" class="boton-menu hidden-md-up" data-toggle="collapse" data-target="#menu-principal" aria-expanded="false")
            i(class="fa fa-bars")

        nav(id="menu-principal" class="collapse" ng-controller="loginController")
            ul
                li(class="active"): a(href="index.html") Mis cursos
                li: a(href="" data-toggle="collapse" data-target="#bloque-usuario" aria-expanded="false") Usuario
                        i(class="fa fa-angle-down")

        div(id="bloque-usuario" action="#" class="collapse")
            div(class="container-bloque-usuario")
                a(href="") Mi perfil
                a(href="") Mis mensajes
                a(href="") Cerrar sesíon