
// ------------------------ Header Administrador ------------------------

header(id="header-cliente" class="header navbar-fixed-top" role="banner")
    div(class="container")
        a(href="index.html" class="logo")
            img(src="../images/logo.png" alt="Logo del sitio" class="img-fluid")

        button(type="button" class="boton-menu hidden-md-up" data-toggle="collapse" data-target="#menu-principal" aria-expanded="false")
            i(class="fa fa-bars")

        nav(id="menu-principal" class="collapse")
            ul
                li: a(href="") Cerrar sesión