extends ../../templates/frame_cliente

block contents

    // ------------------------ Encuesta ------------------------

    div(class="mis-cursos")

        div(class="cabecera-mis-cursos")
            h2(class="text-xs-center") Encuesta

        div(class="container")
