extends ../../templates/frame_cliente

block contents

    // ------------------------ Mis Cursos ------------------------

    div(class="mis-cursos")

        div(class="cabecera-mis-cursos")
            h2(class="text-xs-center") Mis Cursos

        div(class="container")
        
            div(class="container")
                div(class="row")
                    a(href="" class="card")
                        img(class="card-img-top img-fluid" src="../images/writing-notes-idea-conference.jpg" alt="Card image cap")
                        div(class="card-block")
                            h4(class="card-title") Diseño de Confecciones en 3D
                            p(class="card-text") Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusamus assumenda impedit tempore molestias, aut aperiam.

                    a(href="" class="card")
                        img(class="card-img-top img-fluid" src="../images/writing-notes-idea-conference.jpg" alt="Card image cap")
                        div(class="card-block")
                            h4(class="card-title") Diseño de Joyeria en 3D
                            p(class="card-text") Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusamus assumenda impedit tempore molestias, aut aperiam.

                    a(href="" class="card")
                        img(class="card-img-top img-fluid" src="../images/writing-notes-idea-conference.jpg" alt="Card image cap")
                        div(class="card-block")
                            h4(class="card-title") Diseño de Plateria en 3D
                            p(class="card-text") Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusamus assumenda impedit tempore molestias, aut aperiam.

                    a(href="" class="card")
                        img(class="card-img-top img-fluid" src="../images/writing-notes-idea-conference.jpg" alt="Card image cap")
                        div(class="card-block")
                            h4(class="card-title") Diseño de Confecciones en 3D
                            p(class="card-text") Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusamus assumenda impedit tempore molestias, aut aperiam.

                    a(href="" class="card")
                        img(class="card-img-top img-fluid" src="../images/writing-notes-idea-conference.jpg" alt="Card image cap")
                        div(class="card-block")
                            h4(class="card-title") Diseño de Joyeria en 3D
                            p(class="card-text") Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusamus assumenda impedit tempore molestias, aut aperiam.

                    a(href="" class="card")
                        img(class="card-img-top img-fluid" src="../images/writing-notes-idea-conference.jpg" alt="Card image cap")
                        div(class="card-block")
                            h4(class="card-title") Diseño de Plateria en 3D
                            p(class="card-text") Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusamus assumenda impedit tempore molestias, aut aperiam.