
.contacto .container {
	padding-top: 6.5rem;
	text-align: center;
}

.contacto .container h2 span {
	color: $c-primario;
}

.container-formulario-contacto {
	display: flex;
	justify-content: center;
	padding: 2rem 2rem;
}
