
div(class="contenido-curso")
    h3 Descripcion
    p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nam reprehenderit nostrum non repellat doloremque neque commodi, iure quod consequatur quis facilis fuga dolor vero maiores minima fugit, tenetur nisi cumque!