
div(class="contenido-curso")
    h3 Módulo 1
    p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Molestias dolorem earum neque illum unde sit voluptate dolore doloremque ducimus quo sint, repudiandae animi ea ipsum officiis blanditiis reprehenderit autem debitis!
    
    h4 Clase 1
    div(class="bloque-temas-curso card")

        a(href="#contenido_curso" data-toggle="collapse")
            i(class="fa fa-folder-open")
            span 1.- Tipos de ropa (Diapositivas)
        //embed(id="archivo" class="collapse" src="../INFORME_ACTIVIDAD_UC3M_v0.9.pdf#toolbar=0" width="100%" height="600")

        a(href="")
            i(class="fa fa-play-circle")
            span Resumen
        a(href="")
            i(class="fa fa-pencil-square-o")
            span Evaluación

    div(class="bloque-contenido-curso")
        iframe(id="contenido_curso" class="collapse" src="http://docs.google.com/gview?url=http://www.uco.es/webuco/buc/pdfdoc/librode_estilo.pdf&embedded=true" frameborder="0")

        //video()