doctype
html(lang="es" ng-app="app-sgc")
    head
        meta(charset="utf-8")
        meta(http-equiv="X-UA-Compatible" content="IE=edge")
        meta(name="viewport" content="width=device-width, initial-scale=1")
        meta(name="description" content="")
        meta(name="keywords" content="")
        meta(name="author" content="Juan Carlos Raúl Contreras Meneses")
        meta(name="robots" content="")

        title SGC | Sistema de Gestión de Cursos
        
        // ------------------------ Carga de fuentes ------------------------

        link(rel="stylesheet" href="https://fonts.googleapis.com/css?family=Open+Sans")

        // ------------------------ Carga de archivos CSS ------------------------

        //link(rel="shortcut icon", href="images/favicon.ico")
        link(rel="stylesheet", href="../libs/normalize/normalize.css")
        link(rel="stylesheet", href="../libs/bootstrap4/css/bootstrap-flex.min.css")
        link(rel="stylesheet", href="../libs/bootstrap-datetimepicker/css/bootstrap-datetimepicker.min.css")
        link(rel="stylesheet", href="../libs/animate/animate.min.css")
        link(rel="stylesheet", href="../libs/font-awesome/font-awesome.min.css")
        link(rel="stylesheet", href="../css/styles-dist.css")

    body
        section(class="contenedor-principal-administrador")
            
            div(class="card col-md-4" ng-controller="adminController")
                form(class="container" id="formulario_login_admin" name="formulario_login_admin" novalidate method="post")
                    
                    div(class="form-group row encabezado-login-admin")
                        h2 Inicio de Sesión

                    div(class="form-group row container-icon-login-admin")
                        div(class="rounded-circle")
                            img(src="../images/admin.svg", alt="hat" class="img-fluid")

                    div(class="form-group row")
                        input(type="text" class="form-control" id="usuario_admin" name="usuario_admin" ng-model="usuario_admin" placeholder="Usuario" required)
                        div(ng-show="!usuario_admin && estado_usuario_admin" class="alert alert-warning col-md-12" ng-bind=" 'El usuario no ha sido ingresado.' ")

                    div(class="form-group row")
                        input(type="password" class="form-control" id="clave_admin" name="clave_admin" ng-model="clave_admin" placeholder="Contraseña" required)
                        div(ng-show="!clave_admin && estado_clave_admin" class="alert alert-warning col-md-12" ng-bind=" 'La contraseña no ha sido ingresada.' ")

                    div(class="form-group row")
                        input(type="submit" class="btn btn-primary col-md-12" value="Acceder" ng-disabled="formulario_login_admin.$invalid")
            
        
        // ------------------------ Carga de archivos JS ------------------------

        script(src="../libs/jquery/jquery.min.js")
        script(src="../libs/tether/tether.min.js")
        script(src="../libs/bootstrap4/js/bootstrap.min.js")
        script(src="../libs/moment/moment.min.js")
        script(src="../libs/bootstrap-datetimepicker/js/bootstrap-datetimepicker.min.js")
        script(src="../libs/wow/wow.min.js")
        script(src="../libs/smooth-scroll/smooth-scroll.min.js")
        script(src="../libs/angular/angular.min.js")
        script(src="../libs/angular/angular-route.min.js")
        script(src="../../dev/js/app.js")
        script(src="../../dev/js/controllers/loginController.js")
        script(src="../../dev/js/controllers/registroController.js")
        script(src="../../dev/js/controllers/cursoController.js")
        script(src="../../dev/js/controllers/adminLoginController.js")
        script(src="../js/main-dist.js")